<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h1 id="clock"><span id="time"></span></h1>
                <p class="lead text-capitalize"><span id="day"></span> <span id="date"></span></p>
            </div>
            <div class="col-xs-6 text-right">
                <h1 id="clock">&#57418; 32&#x2103;</h1>
                <p class="lead"></p>
            </div>            
        </div>
        <!-- /.row -->
        <div class="row news">
            <div class="col-xs-12 text-left">
                <h1 id="news">Nyheter</h1>
                <ul class="list-unstyled">
                    <% for(var i=0; i<articles.length; i++) {%>
                        <li><h4><%= articles[i].title %></h4></li>
                    <% } %>                 
                </ul>
            </div>          
        </div>
        <!-- /.row -->        

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/moment-with-locales.js"></script>
    <script src="js/main.js"></script>

</body>

</html>
